<section class="accomodation_area section_gap" id="accomodations">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">{{ i18n "rooms" }}</h2>
        </div>
        <div class="row mb_30">
            <div class="col-lg-6 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img card-top">
                        <a href="{{ "img/Hab1.jpg" | relURL }}"><img src="{{ "img/Hab1.jpg" | relURL }}" alt="" width="600px"></a> 
                    </div>
                    <div class="card-bottom">
                        <span class="top-text">{{ i18n "room"}} {{ i18n "largest" }}</span><br>
                        <span class="subt-h5">{{ i18n "roomInstall" }}</span>
                        <span class="bottom-text">{{ i18n "descriptionRoomInstall" }}</span>
                        <span class="subt-h5">{{ i18n "bathRoom" }}</span>
                        <span class="bottom-text">{{ i18n "descriptionRoomBathRoom" }}</span>
                        <br>
                        <a href="/#booking" class="book_now_btn button_hover">{{ i18n "book"}} {{ i18n "now" }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <a href="{{ "img/Hab2.jpg" | relURL }}"><img src="{{ "img/Hab2.jpg" | relURL }}" alt="" width="600px"></a>
                    </div>
                    <div class="card-bottom">
                        <span class="top-text">{{ i18n "room" }} {{ i18n "smallest" }} </span><br>
                        <span class="subt-h5">{{ i18n "roomInstall" }}</span>
                        <span class="bottom-text">{{ i18n "descriptionRoomInstall" }}</span>
                        <span class="subt-h5">{{ i18n "bathRoom" }}</span>
                        <span class="bottom-text">{{ i18n "descriptionRoomBathRoom" }}</span>
                        <br>
                        <a href="/#booking" class="book_now_btn button_hover">{{ i18n "book"}} {{ i18n "now" }}</a>                    </div>
                </div>
            </div>
        </div>
    </div>
</section>