<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="background-banner">
                    <div class="fondo">
                        <img src="{{ "img/footer.png" | relURL }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "form" .}}
</section>