<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6></h6>
                <h2></h2>
                <p></p>
                <a href="#" class="btn theme_btn button_hover"></a>
            </div>
        </div>
    </div>
    {{ partial "form" .}}
</section>