<div class="hotel_booking_area position" id="booking">
    <div class="container">
        <div class="hotel_booking_table">
            <div class="col-md-3">
                <h2>{{ i18n "book" }}<br> {{ i18n "yourroom" }}</h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    <form action="{{ .Site.Params.formsubmit_action }}" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker11'>
                                        <input type='text' class="form-control" id="checkin" placeholder="{{ i18n "arrivalDate"}}"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" id="checkout" placeholder="{{ i18n "departureDate"}}"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        {{ i18n "numberof" }} {{ i18n "adults" }}
                                    </span>
                                    <input type="text" id="adults" class="form-control" placeholder="{{ i18n "numberof" }} {{ i18n "adults" }}" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        {{ i18n "numberof" }} {{ i18n "childs" }}
                                    </span>
                                    <input type="text" id="childs" class="form-control" placeholder="{{i18n "numberof" }} {{ i18n "childs" }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="form-control_style" id="room">
                                        <option data-display="{{ i18n "room" }}">{{ i18n "room" }}</option>
                                        <option value="1">{{ i18n "room"}} {{ i18n "largest" }}</option>
                                        <option value="2">{{ i18n "room"}} {{ i18n "smallest" }}</option>
                                    </select>
                                </div>  
                                <button class="book_now_btn button_hover" type="submit">{{ i18n "book"}} {{ i18n "now" }}</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>