<div class="hotel_booking_area position" id="booking">
    <div class="container">
        <div class="hotel_booking_table">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>{{ i18n "book" }} {{ i18n "yourroom" }}</h2>
                    </div>
                </div>
                <div class="boking_table">
                    <form action="{{ .Site.Params.formsubmit_action }}" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ i18n "yourname" }}</span>
                                    <input class="form-control" name="Nombre" placeholder="{{ i18n "yourname" }}" type="text" required="">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">{{ i18n "youremail" }}</span>
                                    <input class="form-control" name="Email" placeholder="{{ i18n "youremail" }}" type="email" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input type="date" name="checkin" class="form-control" placeholder="{{ i18n "arrivalDate"}}"/>
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input type="date" name="checkout" class="form-control" placeholder="{{ i18n "departureDate"}}"/>
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ i18n "numberof" }} {{ i18n "adults" }}</span>
                                    <input type="text" name="Adults" class="form-control" placeholder="{{ i18n "numberof" }} {{ i18n "adults" }}" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">{{ i18n "numberof" }} {{ i18n "childs" }}</span>
                                    <input type="text" name="Childs" class="form-control" placeholder="{{i18n "numberof" }} {{ i18n "childs" }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="form-control_style" >
                                        <option data-display="{{ i18n "room" }}">{{ i18n "room" }}</option>
                                        <option value="1">{{ i18n "room"}} {{ i18n "largest" }}</option>
                                        <option value="2">{{ i18n "room"}} {{ i18n "smallest" }}</option>
                                    </select>
                                </div> 
                                <input type="hidden" name="_subject" value="Nueva Reserva para Hostal Aromas del Caribe">
                                <input type="hidden" name="_captcha" value="false">
                                <button class="book_now_btn button_hover" type="submit">{{ i18n "book"}} {{ i18n "now" }}</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>