<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="logo">
                <a class="navbar-brand_style logo_h" href="{{ "/" | relURL }}">
                    <img src={{ "img/Logo.png" | relURL }} alt="">
                </a>
            </div>
            <div class="navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    {{ with site.Menus.main }}
                        {{ range . }}
                            {{ if $.IsMenuCurrent .Menu .}}
                                <a href="{{ .URL | relLangURL }}" class="nav-item nav-link_style active">{{ i18n .Name }}</a>
                            {{ else }}
                                <a href="{{ .URL | relLangURL }}" class="nav-item nav-link_style">{{ i18n .Name }}</a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ partial "language-switcher" . }}
                </ul>
            </div> 
        </nav>
    </div>
</header>