{{ define "main" }}
    <!--================Header Area =================-->
    {{ partial "header" .}}
    <!--================Header Area =================-->

    <!--================Banner Area =================-->
    {{ partial "banner_index" .}}
    <!--================Banner Area =================-->
    
    <!-- ===============Accomodation Area ===========-->
    {{ partial "accomodations" .}}
    <!-- ===============Accomodation Area ===========-->
    
    <!-- ===============Facilites Area ===========-->
    {{ partial "facilities" .}}
    <!-- ===============Facilites Area ===========-->
    
    <!-- ===============About Area ===========-->
    {{ partial "about" .}}
    <!-- ===============About Area ===========-->
    
    <!-- ===============Gallery Area ===========-->
    {{ partial "gallery" .}}
    <!-- ===============Gallery Area ===========-->
    
    <!-- ===============Testimonials Area ===========-->
    {{ partial "testimonials" .}}
    <!-- ===============Testimonials Area ===========-->
{{ end}}